<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hengxiang.wsxsm.haima"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 注册权限 -->
    <permission android:name="me.haima.www.permission.READ_BASICDATA" />
    <permission android:name="me.haima.www.permission.WRITE_BASICDATA" />
    <!-- 应用所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="me.haima.www.permission.READ_BASICDATA" />
    <uses-permission android:name="me.haima.www.permission.WRITE_BASICDATA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <!-- end -->

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature android:name="android.hardware.touchscreen" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

    <application
        android:name="com.type.sdk.application.TypeApplication"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >

        <activity
            android:name="com.type.sdk.android.haima.TypeSDKSplash"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        <activity
            android:name="com.type.sdk.android.haima.MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:label="@string/app_name"
            android:launchMode="singleTop"
			android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="haima.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="false" />
        </activity>

        <!-- sdk所需 -->
        <!-- SDK中用到的Activity(包括第三方)	  BEGIN -->
        <!-- SDK	  Activity	  BEGIN -->
        <activity
            android:name="com.haima.loginplugin.activities.ZHMessageCenterActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.loginplugin.views.ImageAndTextDialog"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.haima.loginplugin.activities.ZHLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.loginplugin.activities.ZHWebControlActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.payPlugin.activities.ZHReChargeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.payPlugin.activities.ZHPayActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.loginplugin.activities.ZHMyPropsActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.loginplugin.activities.ZHVipPrivilegeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.loginplugin.activities.ZHVoucherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.haima.payPlugin.activities.PayWebControlActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
			<activity
            android:name="com.heepay.plugin.activity.WeChatNotityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoDisplay" />
        <!-- SDK	  Activity	  END -->
        <!-- Union	  Pay	  Activity	  BEGIN -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- Union	  Pay	  Activity	  END -->
        <!-- Ali	  Pay	  Activity	  START -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- Ali	  Pay	  Activity	  END -->
        <meta-data
            android:name="HMKey"
            android:value="appid" />
        <!-- SDK中用到的Activity(包括第三方)	  END -->
		
    </application>

</manifest>